<div class='info_box'>
  
  <img src='../static/tmojo.png' />
  
<ul>
  <li class='smile'>  
    <h2 class='smile'> Post your thoughts </h2>        
    <div class='normal'>
      Periodically register whats in your mind and how you feel about it.
    </div>
  </li>
  <li class='sad'>    
    <h2 class='sad'> Analyze them </h2>
    <div class='normal'>
      Periodically register whats in your mind and how you feel about it.
    </div>
  </li> 
  <li class='dry'>    
    <h2 class='dry'> Self-reflect and improve </h2>  
    <div class='normal'>
      Periodically register whats in your mind and how you feel about it.
    </div>
  </li> 
  
  <li class='login_box'> 
    <img src='../static/smi/lock.png' />
    <h3> <a href='<%= LoginLink %>' class='rpxnow'> Login now</a> & get started</h3>
  </li>
</ul>



</div>
  